@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* Start Code*/

html {
    background-color: rgba(122, 191, 191, .5);
}

body {
    background-color: #F2F2F2;
    max-width: 414px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
    "header"
    "details"
    "ingredients"
    "directions"
    "aside"
    "footer";
    min-width:414px;
}

header {
    grid-area: header;
    padding-top: 180px;
}

header img {
    width: 100%;
}

h1, h2, h3, nav a, nav span, menu li, #social li, footer {
    font-family: 'Bebas Neue', sans-serif;
}

p, dd, li, nav, input {
    font-family: 'Montserrat', sans-serif;
}

dt {
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    font-size:16px;
}

h1 {
    font-size:40px;
}

h2 {
    font-size:30px;
}

h3{
    font-size:25px;
}

nav a, nav span, menu li, #social li, footer {
    font-size:20px;
}

footer img {
    width:50%;
}

nav img {
    width:25%;
}

ul {
    max-height: 0;
    overflow: hidden;
  }
  input:checked ~ ul {
    max-height: 500px;
  }
  input {
    display: none;
  }

aside {
    background:#7ABFBF;
}

header h1 {
    text-align: center;
}

header li {
    list-style-type:none;
    display:inline;
}

menu {
    display:flex;
    justify-content:space-evenly;
    color:#EB5428;
    margin-top:30px;
    margin-bottom:20px;
}

menu svg {
    display:block;
    margin:auto;
}

menu p {
    font-family: 'Bebas Neue', sans-serif;
}

header p:nth-child(4),header p:nth-child(5) {
    padding-left:10px;
    padding-top:10px;
}

header p:nth-child(5) {
    padding-bottom:20px;
}

#details h2 {
    text-align:center;
    padding-bottom:10px;
}

header h1 {
    display:block;
    margin-top:100px;
}

#details {
    padding-left:10px;
    padding-bottom:20px;
}

  dt {
    float: left;
    width:40%;
  }
  dd {
    float: left;
  }

  #ingredients h2 {
    text-align:center;
    padding-bottom:20px;
  }

  #ingredients ul {
    display:inline;
    list-style-type:disc;
    list-style-position:inside;
  }

  #ingredients li {
    padding-left:15px;
    padding-bottom:15px;
  }

  #directions h2 {
    text-align: center;
    padding-bottom:20px;
  }

  #directions ol {
    list-style-type:decimal;
    padding-left:30px;
  }

  #directions li {
    padding-bottom:15px;
  }

  #sides h2 {
    text-align:center;
    padding-top:10px;
    padding-bottom:25px;
  }

  #sides img {
    float:left;
    width:25%;
    padding-right:15px;
    padding-left:10px;
  }

  #sides .text {
    padding-bottom:75px;
  }

  .text p:nth-child(3) {
    font-weight:bold;
    padding-top:10px;
    padding-bottom:10px;
  }

nav {
    position:absolute;
    top:0px;
    width:414px;
    text-align:center;
}

nav div {
    display:inline;
    padding-left:50px;
    text-align:center;
}

nav svg:nth-child(4) {
    width:200px;
}

#search h2 {
    display:none;
}

nav h2 {
    display:none;
}

nav li {
    display:inline;
    color:#EB5428;
}

nav li:nth-child(1) {
    overflow:visible;
}

footer ul {
    display:block;
}

#search input {
    display:inline;
    height:30px;
    width:200px;
}

#search svg{
    vertical-align:middle;
}

#search {
    background:#EB5428;
    position:absolute;
    margin-top:125px;
    margin-left:90px;
    padding-left:3px;
    padding-bottom:1px;
    padding-top:2px;
    z-index:1;
}

footer h3 {
    display:none;
}

footer ul {
    display:inline;
    list-style-type:none;
}

footer a {
    text-decoration:none;
    color:#EB5428;
}

footer li {
    display:inline-block;
    padding-left:32px;
}

footer img {
    padding-bottom:25px;
    padding-left:100px;
}

footer ul {
justify-content: space-evenly;
}

footer svg {
    display:block;
    padding-left:10px;
}

#goodeats {
    display:grid;
    text-align:center;
}

#social {
    padding-top:30px;
    padding-bottom:25px;
}

nav img {
    display:none;
}

nav li {
    display:block;
    background:white;
    z-index:2;
}

#signup h3 {
    display:none;
}

#signup p {
    font-family: 'Bebas Neue', sans-serif;
    font-size:20px;
}

@media screen and (min-width:768px) {
    body {
        max-width:768px;
    }

    ul{
        overflow:visible;
        display:inline;
    }

    nav li {
        display:inline;
        width:768px;
    }

    nav {
        display:inline;
        width:768px;
        height:350px;
    }

    ul img {
        display:inline;
        width:8%;
    }

    nav label {
        display:none;
    }

    nav svg:last-child{
        display:block;
    }

    header h1 {
        text-align:left;
    }

    #details dl {
        display:block;
    }
    #details dt{
    margin-left:250px;
    width:150px;
    }

    #ingredients, #directions {
        width:50%;
        padding:0;
        display:flex;
    }

    #directions {
        padding-top:0;
        margin-left:50%;
    }

    #sides img {
        width:15%
    }
    
    footer img {
        width:25%;
        padding-left:280px;
    }

    #social {
        margin-left:175px;
    }

}


@media screen and (min-width:1280px) {
    body {
        max-width:1280px;
    }

    nav {
        width:1280px;
    }

    nav img {
        width:6%;
    }

    header h1 {
        text-align:center;
    }

    #details {
        background:black;
        color:#7ABFBF
    }

    #sides img{
        width:13%;
    }

    footer img {
        width:15%;
        padding-left:10px;
    }

    footer small {
        display:flex;
        padding-left:250px;
    }
}